@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f0f0f0;
}

.signup-container {
  display: flex;
  min-height: 80vh; /* Set minimum height */
  margin-top: 14vh;
  align-items: center;
  justify-content: center;
  gap: 30px; /* Space between the two sections */
  padding: 20px;
}

.signup-welcome {
  background-color: #062c52;
  color: white;
  padding: 40px 30px; /* Adjusted padding */
  width: 40%;
  height: 80vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.signup-welcome h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.signup-welcome h1:nth-child(4) {
  font-weight: bold;
  font-size: 3rem;
  color: #f8f8f8;
}

.signup-form-section {
  background-color: white;
  padding: 40px 30px;
  width: 40%;
  height: 80vh;
  border-radius: 10px; /* Make form rounded */
  box-shadow: 0 4px 10px rgba(3, 0, 0, 0.1); /* Soft shadow for form */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup-heading {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
  color: #062c52;
}

.form-group {
  margin-bottom: 20px;
  height: 80px;
}

label {
  font-weight: 500;
  margin-bottom: 8px;
  display: block;
  color: #062c52;
}

input {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
}

input:focus {
  outline: none;
  border-color: #062c52;
}

.signup-btn {
  background-color: #062c52;
  color: white;
  padding: 15px;
  width: 100%;
  font-size: 1.1rem;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-btn:hover {
  background-color: #062c52;
}

.login-link {
  margin-top: 10px;
  text-align: center;
}

.login-link a {
  color: #062c52;
  text-decoration: none;
  font-weight: bold;
}

.login-link a:hover {
  text-decoration: underline;
}

/* Success Message Styling */
.success-message {
  position: fixed;
  top: 70px; /* Adjust the vertical positioning */
  right: 20px; /* Align it to the right side */
  background-color: #4CAF50;  /* Green background */
  color: white;
  padding: 15px;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Error message styling */
.error-message {
  background-color: #f44336;  /* Red background */
  color: white;
  padding: 15px;
  margin-top: 15px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}
